@font-face{
    font-family:'digital-clock-font';
    src: url('../fonts/square_sans_serif_7.ttf');
   }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(https://i.pinimg.com/originals/39/95/39/399539e04c14ff913a504edaa7e7f9a8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family:'digital-clock-font', sans-serif;
}

.title {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title h1 {
    font-size: 50px;
}

.clock {
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    border: 1px solid #000;
    height: fit-content;
}

.timepart {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: 5%;
}

.number {
    font-size: 80px;
    transform: scaleY(1.4);
    text-align: center;
    background-color: teal;
}

.timeunit {
    transform: translateY(90%);
    text-align: center;
    background-color: rgb(35, 190, 35);
}

.ampm {
    width: 50px;
    text-align: center;
    transform: translateY(15px);
    background-color: rgb(3, 51, 3);
    margin-top: 159px;
    margin-left: 10px;
}

